Youtube
https://www.youtube.com/watch?v=Gpal5KsSHMQ

Utilizar esse link para os comando utilizados no vídeo
https://www.nerdlivre.com.br/como-instalar-o-docker-no-ubuntu/

incluir o usuario jose no grupo docker porque para emitir comandos precisa ser super usuário.
Ou isso ou irá nos solicitar senha a cada comando emitido.

sudo usermod -aG docker ${USER}
su - ${USER}
(aí entramos com a senha do super usuário)
 
-> iniciar docker
 sudo systemctl start docker

 -> criando um container postgresql
docker run --name ze-postgres -e POSTGRES_PASSWORD=passdb -d postgres -d -p 5432:5432

=======================================================================
https://www.dio.me/articles/instale-o-postgresql-com-pgadmin4-no-ubuntu-2004

1 -> instalação pgadmin4 - commando 1
sudo curl https://www.pgadmin.org/static/packages_pgadmin_org.pub | sudo apt-key add

2 -> instalação pgadmin4 - comando 2
sudo sh -c 'echo "deb https://ftp.postgresql.org/pub/pgadmin/pgadmin4/apt/$(lsb_release -cs) pgadmin4 main"> /etc/apt/sources.list.d/pgadmin4.list && apt update '

-> remover todos os container
docker rm $(docker ps -a -q)

-> start postgres
docker run -p 5432:5432 -e POSTGRES_PASSWORD=1234 -d  postgres

-> Acessa postgres via  terminal e psql
docker exec -it 132f78186823 psql -U postgres

-------------------------- INSTALAR docker compose ------------
Youtube:
https://www.youtube.com/watch?v=h27ZVQIh7Ro

links dos comando:
https://www.nerdlivre.com.br/como-instalar-o-docker-compose-no-ubuntu-22-04/

para subir as imagens, dê o comando, a partir do diretório do arquivo docker-compose:
docker compose up 







