========== Github public/private key setup  ======================
1- Gerar o par de chaves private/public key no terminal:
comando...
ssh-keygen -o -t rsa -C "email@example.com"

será gerado um par de chaves id_rsa/id_rsa.pub no diretório .ssh do home

2- No usuário do github, clique:  settings >> SSH and GPG Keys, e então "new SHH key"

3- Dê um cat e copie o conteúdo da chave para o local indicado no github 

4- 

jose@jose-Latitude-3470:~/.ssh$ cat id_rsa.pub
    ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCwrUzqtm
    3K9YNI2WbXxkcfnHZgyW7/3WXghBbKndhbKbCR00JLfTHsK
    Kaz17c4xIHQrw7u0GsPXai6pMtwMeVmXQH00L5hD0WE5Ioo