--- quebra a linha quando otexto sai da tela
preferences > configurações > word wrap
--- mudar o tema
preferences > configurações > theme

--- programando em HTML -----
Para envolver  um texto com uma tag
ctrl + shift + p >> wrap with abbreviation (envolvendo com abreviação): teclar a tag sem "<>" + enter

-------- Configurações para o curso preparatório Serpro ----
https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-pack

https://marketplace.visualstudio.com/items?itemName=redhat.java

https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-debug

https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-dependency

https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-java-test

https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-maven

http://marketplace.visualstudio.com/items?itemName=cweijan.vscode-mysql-client2
(Apesar de ter o nome de MySQL, funciona para vários bancos)

